@import 'normalize';
@import 'skeleton';
@import 'colors';

[v-cloak] {
  display: none;
}

html, body {
  height: 100%;
  color: $black;
  background: #fbfbfb;
}

main {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

blockquote {
  font-style: italic;
}

.unstyled-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.unstyled-link:hover {
  color: inherit;
}

li.indent {
  text-indent: -2em;
  padding-left: 2em;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 3.1rem;
  font-weight: 900;
  text-transform: uppercase;
  color: $blue;
  margin: 1em 0 1em;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $red;
  margin: 0.5em 0 1em;
}

p, ul {
  font-size: 18px;
  line-height: 1.5;
}

.intro, .article {
  margin-bottom: 3em;
}

.intro h1 {
  font-size: 4rem;
  text-align: center;
}

.content {
  margin: 1.6rem auto;

  @media (min-width: 960px) {
    max-width: 80%;
  }
}

img {
  max-width: 100%;
}

.logo {

  width: 100%;

  a {
    max-height: 100%;
    display: block;
    margin: auto;
    padding: 0;
  }

  img {
    height: 85px;
    display: block;
    margin: auto;
  }
}

header {
  z-index: 5;
  max-width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  transition: transform 0.3s ease-out;

}

/* NAV */

nav {
  background: $red;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  flex-grow: 1;
  padding-top: 1em;
}
nav ol {
  display: flex;
  flex-flow: row wrap;

  @media (max-width: 959px) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
nav li {
  flex-grow: 1;
  list-style-type: none;
  margin: 0;
  text-align: start;
}

.sub {
  font-weight: 500;
  margin-top: 0;
  margin-left: 0;
}

.sub a {
  display: block;
  line-height: 28px;
  font-size: 14px;
  padding-left: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 24px;
}

.main-cat {
  font-size: 18px;
  display: block;
  padding-left: 12px;
  padding-bottom: 12px;
}

nav li a, nav li a:hover {
  color: white;
  text-decoration: none;
}
nav li:hover {
  cursor: pointer;
}
.sub li:hover, .sub li.active {
  background: darken($red, 7%);
}

.footer {
  background-color: $blue;
  padding: 2rem 0;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;

  li:hover {
    background-color: $blue;
  }

  ol {
    justify-content: center;
  }
}

.breadcrumb {
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
}
.breadcrumb li {
  display: inline-block;
  color: $red;
  font-size: 1.35rem;
}
.breadcrumb li:first-of-type {
  color: #23b9d0;
  margin-left: 0;
}
.breadcrumb li:first-of-type a::after {
  content: " ";
  white-space: pre;
  background: url(/assets/ico-next.png) no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  vertical-align: middle;
  transform: translateY(-0.05rem);
  box-sizing: border-box;
}

.propositions-list li {
  font-size: 2.5rem;
  color: #c9462c;
}
.propositions-list li:nth-child(even) {
  color: #23b9d0;
}
.propositions-list li span {
  display: table-cell;
}
.propositions-list li span:first-child {
  white-space: nowrap;
}
.propositions-list li span:last-child {
  padding-left: .3em;
}

.sub-categories {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  list-style: none;
  margin-bottom: 3rem;
}
.sub-categories li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #c9462c;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  box-sizing: border-box;
  padding: 0.2em;
  transition: background-color 0.2s ease, color 0.2s ease;
  border-radius: 10px;
}
.sub-categories li {
  color: #c9462c;
  cursor: pointer;
  margin: 0 5px;
  padding: 1em;
}
.sub-categories li:nth-child(even) {
  color: #23b9d0;
}
.sub-categories li.active, .sub-categories li:hover {
  background-color: #c9462c;
  color: white;
}
.sub-categories li:nth-child(even).active, .sub-categories li:nth-child(even):hover {
  background-color: #23b9d0;
}

.introductory-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

img.raised {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  max-width: 90%;
  margin: auto;
  display: block;
  margin-bottom: 2.5em;
}

.charts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.charts h3 {
  font-size: 2em;
  text-align: center;
}
.charts img {
  max-height: 300px;
}

.navbar {
  display: none;
  flex-direction: row;
  align-items: center;
  z-index: 6;
  width: 100%;
  height: 50px;
  background: white;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar .filler {
  flex-grow: 1;
}

.menu-icon {
  width: 30px;
  cursor: pointer;
}

.navbar-logo {
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  img {
    max-height: 100%;
    margin: auto;
    display: block;
  }
}

@media (max-width: 959px) {
  .navbar {
    display: flex;
  }
  .content {
    margin-top: 75px
  }
  .logo {
    display: none;
  }
  header {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    position: fixed;
    overflow-y: scroll;
    top: 50px;
    height: 100%;
    background-color: $red;
    bottom: 0;
    transform: translateX(-100%);
  }
  .article {
    margin-top: 70px;
  }
}
