<!doctype html>
<html lang="fr">
  {% include head.html %}
  <body>
    <main>
      {% include header.html %}
      <div class="container">
        <div class="navbar">
          <div class="menu-icon">
            <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g class="style-scope iron-icon"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" class="style-scope iron-icon"></path></g></svg>
          </div>
          <a href="{{ "/" | relative_url }}" class="navbar-logo">
            <img src="/assets/logo.png" alt="Patrons Insoumis">
          </a>
          <div class="filler"></div>
        </div>
        {% if page.nav == "home" %}
          <div class="intro">
        {% else %}
          <div class="article">
        {% endif %}
          <div class="content">
            {{ content }}
          </div>
        </div>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
